.main-content{
    display: grid;
    gap: 20%;
}

body{
    display: block;
}

.inputDiv{
    display: inline-block;
}

.inputForm{
    display: grid;
    gap: 5%;
}

label{
    width: 80vw;
    font-size: xx-large;
}

input{
    width: 80vw;
    height: 15vh;
    font-size: xx-large;
}

.submitButton{
    width: 80vw;
    height: 15vh;
}

.outputDiv{
    display: grid;
    gap: 10%;
}