:root{
    background-color: rgb(46, 46, 46);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
}

.main-content{
    display: grid;
    gap: 20%;
    justify-content: center;
}

body{
    display: block;
}

.inputDiv{
    display: inline-block;
}

.inputForm{
    display: grid;
    gap: 5%;
}

label{
    width: 80vw;
    font-size: xx-large;
}

input{
    width: 80vw;
    height: 15vh;
    font-size: xx-large;
}

.submitButton{
    width: 60vw;
    height: 15vh;
    background-color: rgb(255, 97, 97);
    color: aliceblue;
}

.outputDiv{
    display: grid;
    gap: 10%;
}